{{!< default}}

{{#post}}
<article>
    <header>
        <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                {{#primary_tag}}
                <li class="breadcrumb-item"><a href="{{url}}">{{name}}</a></li>
                {{/primary_tag}}
                <li class="breadcrumb-item breadcrumb-current">{{title}}</li>
            </ul>
        <h1>{{title}}</h1>
        <div class="post-meta">
                Last updated on&nbsp;
                <time datetime="{{date format=" YYYY-MM-DD"}}">{{date updated_at}}</time>
            </div>
    </header>
    <section>
        {{content}}
    </section>
</article>
{{/post}}